* {
    margin: 0;
    padding: 0;
  }
  /* import fonts */
  @font-face {
    font-family: "Aller";
    src: url("../fonts/Aller_Std_Lt.ttf");
  }
  
  @font-face {
    font-family: "Aller-Bold";
    src: url("../fonts/Aller_Std_BdIt.ttf");
  }
  
  /* Variaveis */
  :root {
    --color-background: rgb(130, 2, 98);
    --color-black: #212121;
    --color-full-black: #000000;
    --color-text: #f7f7ff;
    --color-text-out: #2e294e;
    --color-primary: #ffbf00;
    --color-secondary: #fff2cc;
    --color-white: #ffffff;
    --color-red: #d1462f;
    --color-green: #2ecc71;
    --color-separate: #cccccc;
  
    --fontPadrao: "Aller", "Rubik", sans-serif;
    --fontDestaque: "Aller-Bold", "Rubik", sans-serif;
  }
  
  /* Set the fonts for the body of the page and the background image */
  body {
    font-family: "Aller", sans-serif;
    /*If you want to change the background of one specific page, don't change here!*/
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }

/* Begin of header/NavBar formatting */

.header {
    background-color: var(--color-background);
    border-radius: 2px;
    box-shadow: 1px 1px 1px var(--color-black);
}

/* Set the font of the logo text */
#pet, #go,
#place {
  font-family: var(--fontPadrao);
}

/* Configure the formatting for the "Go" */
.navbar #go {
    color: var(--color-white);
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "Aller", sans-serif;
    font-size: 43px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 1.25px;
    text-transform: uppercase;
  }

/* Configure the formatting for the "Pet" */
.navbar #pet {
    color: var(--color-text-out);
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "Aller", sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 1.25px;
    text-transform: uppercase;
  }

/* Configure the formatting for the "Place" */
.navbar #place {
  color: var(--color-white);
  font-family: "Aller", sans-serif;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 1.25px;
  text-transform: uppercase;
}

/* Add a hover effect with text highlighting and underline in the contents of the navbar */
.navbar-nav .nav-link:hover {
  text-decoration: underline;
  background-color: var(--color-text-out);
}

/* Set the font size and color of the NavBar contents */
.header .nav-item {
  font-size: large;
  color: var(--color-white);
}

/* Set the navbar toggler button to have a border with color */
.navbar-toggler {
   color: rgba(255,255,255,.5);
   border-color: rgba(255,255,255,.1);
}

/* Set the icon of the NavBar toggler icon manually */
/* NOTE: This is done because the "navbar-dark" class was removed from the HTML and it was responsible for doing it automatically, but besides that it 
 *also changed other properties that where of no interest to us. This is the reason why it was removed. So, to keep the looks consistent the colapsed 
 * icon is set manually. */
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}



button {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.185);
    border-radius: 5px;
    border-width: 2px;
    border-color: #2E294E;
    border-style: solid;
}


a { 
    color: aliceblue;
    text-decoration: none;
}

.especial{
    font-weight: 550;
}

.container {
    margin-top: 80px;
    position: relative;
    width: 70vw;
    height: 80vh;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
    overflow: hidden;
}
.container::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg, #df4adf, #520852);
    z-index: 6;
    transform: translateX(100%);
    transition: 1s ease-in-out;
}
.signin-signup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 5;
}
form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    min-width: 238px;
    padding: 0 10px;
}
form.sign-in-form {
    opacity: 1;
    transition: 0.5s ease-in-out;
    transition-delay: 1s;
}
form.sign-up-form {
    opacity: 0;
    transition: 0.5s ease-in-out;
    transition-delay: 1s;
}
.title {
    font-size: 35px;
    color: #df4adf;
    margin-bottom: 10px;
}
.input-field {
    width: 100%;
    height: 50px;
    background: #f0f0f0;
    margin: 10px 0;
    border: 2px solid #df4adf;
    border-radius: 50px;
    display: flex;
    align-items: center;
}
.input-field i {
    flex: 1;
    text-align: center;
    color: #666;
    font-size: 18px;
}
.input-field input {
    flex: 5;
    background: none;
    border: none;
    outline: none;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    color: #444;
}
.btn {
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 50px;
    background: #df4adf;
    color: #fff;
    font-weight: 600;
    margin: 10px 0;
    text-transform: uppercase;
    cursor: pointer;
}
.btn:hover {
    background: #c03cc0;
}
.social-text {
    margin: 10px 0;
    font-size: 16px;
}
.social-media {
    display: flex;
    justify-content: center;
}
.social-icon {
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #444;
    border: 1px solid #444;
    border-radius: 50px;
    margin: 0 5px;
}
    a {
        text-decoration: none;
    }
.social-icon:hover {
    color: #df4adf;
    border-color: #df4adf;
}
.panels-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 35%;
    min-width: 238px;
    padding: 0 10px;
    text-align: center;
    z-index: 6;
}
.left-panel {
    pointer-events: none;
}
.content {
    color: #fff;
    transition: 1.1s ease-in-out;
    transition-delay: 0.5s;
}
.panel h3 {
    font-size: 24px;
    font-weight: 600;
}
.panel p {
    font-size: 15px;
    padding: 10px 0;
}

.left-panel .image,
.left-panel .content {
    transform: translateX(-200%);
}
.right-panel .image,
.right-panel .content {
    transform: translateX(0);
}
.account-text {
    display: none;
}
/*Animation*/
.container.sign-up-mode::before {
    transform: translateX(0);
}
.container.sign-up-mode .right-panel .image,
.container.sign-up-mode .right-panel .content {
    transform: translateX(200%);
}
.container.sign-up-mode .left-panel .image,
.container.sign-up-mode .left-panel .content {
    transform: translateX(0);
}
.container.sign-up-mode form.sign-in-form {
    opacity: 0;
}
.container.sign-up-mode form.sign-up-form {
    opacity: 1;
}
.container.sign-up-mode .right-panel {
    pointer-events: none;
}
.container.sign-up-mode .left-panel {
    pointer-events: all;
}

h1 {
    color: #2E294E;
    margin-top: 10%;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 1.25px;
    text-transform: uppercase;
}

footer {
    color: aliceblue;
    background-color: rgb(130, 2, 98);
    width: 50%;
    height: 25%;
    position: relative;
    margin-bottom: -2%;
    left: 0;
}

.footerHome {
    color: aliceblue;
    background-color: rgb(130, 2, 98);
    width: 100%;
    height: 15%;
    margin-top: 17%;
    position: relative;
    margin-bottom: -2%;
    left: 0;
}

#pet,
#place {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}

h1,
#place {
    color: #FFF;
    font-family: 'Inter', sans-serif;
    font-size: 43px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 1.25px;
    text-transform: uppercase;
}

#pet {
    color: #2E294E;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Inter', sans-serif;
    font-size: 43px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 1.25px;
    text-transform: uppercase;
}

.petplacelogin{
    margin: auto;
}

.title{
    margin-top: -10px;
}
/*Responsive*/
@media (max-width:779px) {
    .container {
        width: 100vw;
        height: 100vh;
    }
}
@media (max-width:635px) {
    .container::before {
        display: none;
    }
    form {
        width: 80%;
    }
    form.sign-up-form {
        display: none;
    }
    .container.sign-up-mode2 form.sign-up-form {
        display: flex;
        opacity: 1;
    }
    .container.sign-up-mode2 form.sign-in-form {
        display: none;
    }
    .panels-container {
        display: none;
    }
    .account-text {
        display: initial;
        margin-top: 30px;
    }

    #sign-in-btn2{
        color: black;
    }

    #sign-up-btn2{
        color: black;
    }

    
}
@media (max-width:320px) {
    form {
        width: 90%;
    }
}


.btn {
    background-color: #2E294E;
}

.pad {
    font-family: 'Inter', sans-serif;
    padding-left: 7px;
    padding-right: 7px;
}

#reg {
    background-color: #2E294E;
}

#reg:hover{
    color: white;
    text-decoration: underline;
    transition: 0.3s;
}